/* css comment */

/* The url below is given by fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Lato');

.your-class-name
{
  color: blue;
}

.heading
{
  color: magenta;
}

body
{
  /* The continued use of Helvetica afterwards is as a back up,
     say in case Lato fails to load due to bad network connection */
  font-family: "Lato", "Helvetica", sans-serif;
  line-height: 1.4;
}

.hero
{
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
  background-color: gray;

  /* background-image: url("path/to/your/image"); */
  background-image: url("http://designatucsd.org/examples/files/bull.jpg");
  background-size: cover;
}

.hero h1
{
  color: white;
  font-size: 64px;
  font-weight: lighter;
}
p
{
  font-size: 20px;
  font-weight: lighter;
}

html, body
{
  /* get rid of the white border on the edge of the webpage*/
  padding: 0;
  margin: 0;
}

.readability
{
  margin: auto;
  max-width: 700px;
  padding: 10px;
  color: #555;
}

.card-wrapper {
  text-align: center; /* Keep our cards centered */
}
.card {
  background-color: #f1f1f1; /* Or your choice color */
  margin-top: 10px;
}
